extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href="/title")
      | 抓取60s文章

  p
    a(href="/dbfm")
      | 抓取豆瓣

  p
    a(href="/linuxpage")
      | 抓取linux命令

  p
    a(href="/leetcode")
      | leetcode

