extends layout

block content
  h1= title
  p Welcome to #{title}


  p
    a(href="/linux")
      | 爬虫linux命令-文件和目录管理  
  p
    a(href="/linux2")
      | 爬虫linux命令-系统管理  
  p
    a(href="/linux3")
      | 爬虫linux命令-硬件·内核·Shell·监测  
  p
    a(href="/linux4")
      | 爬虫linux命令-软件·打印·开发·工具  
  p
    a(href="/linux5")
      | 爬虫linux命令-网络管理  